<article class="four-wide-item grid">

    <figure class="effect-lily">
        {{ content.field_image }}
        <figcaption>
            <div>
                <h2>
                    <a href="{{ url }}">{{ label }}</a>
                </h2>
                <p>{{ content.field_slogan }}</p>
            </div>
            <a href="{{ url }}">View more</a>
        </figcaption>
    </figure>
    {#<div class="description">
        <h2><a href="{{ url }}">{{ label }}</a>

                <div class="slogan">{{ content.field_slogan }}</div>

        </h2>
    </div>#}

</article>
