{% set image_path = bp_config.url ~ bp_config.image_path %}

{% if bgcolor is empty %}
    {% set bgcolor = 'gray' %}
{% endif %}

{% if packages is not empty %}
    {% if gray %}
        <div class="gray {{ back_class }}">
    {% endif %}

    {% if front %}
        <div class="front-section">
    {% endif %}

        <div
            {% if id %}
                id = {{ id }}
            {% endif %}

            class="content {{ content_class }}">
            <h1 class="title">
                {{ title | t }}
            </h1>
            {% block payam %}
            {% endblock %}
            <div class="mtb render-view">
                <div class="view-content">
                    {% for package in packages %}
                        {% set href = path('<front>') ~ '/page/package?package=' ~ package.groupId %}
                        <div class="views-row">
                            <article class="float-short">
                                <div class="image">
                                    <a href="{{ href }}">
                                        <img src="{{ image_path }}{{ package.logoId }}?w=215&h=215&c=true" alt="{{ package.title }}">
                                    </a>
                                </div>

                                <div class="description package-label">
                                    <h4 class="tac"><a href="{{ href }}">{{ package.title }}</a></h4>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% if front %}
        </div>
    {% endif %}

    {% if gray %}
        </div>
    {% endif %}
{% endif %}
